<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href='css/style.css'>
</head>
<body>
    <div class="sidebar">
        <!-- User Icon -->
        <div class="user-icon">
            <img src='images/user-icon.png' alt="User Icon">
        </div>
        <!-- Navigation -->
        <div class="navigation">
            <div class="projects-accordion">Projects</div>
        </div>
    </div>

    <div class="main-content">
        <!-- Logo -->
        <header>
            <img src='images/logo.png' style="width: 50px; height: 50px; margin-bottom: 5px;" alt="Logo">
        </header>

        <!-- Dials and Stats -->
        <div class="stats">
            <div class="box tasks-status">
                <div id="taskStatusDial" style="width:600px; height:250px;"></div>
            </div>
            <div class="box resources">
                <div id="resourcesDial" style="width:600px; height:250px;"></div>
            </div>
        </div>

        <div class="table-button-container">
            <button class="add-button" onclick="alert('Button clicked!')">Add Task</button>          
        </div>

        <!-- Task List -->
        <div class="task-list">
            <table class="task-list">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Assignee</th>
                        <th>Status</th>
                        <th>Time Taken</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Task rows will be inserted here -->
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        const staticUrls = {
            editIcon: 'images/edit-icon.jpg',
            deleteIcon: 'images/delete-icon.png'
        };
    </script>
    <script src='js/script.js'></script>
</body>
</html>
